.feed::-webkit-scrollbar { /*This hides scrollbar for Chrome, Safar and Opera*/
    display: none;
}

.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    /*min-height: fit-content;*/
    overflow-y: scroll;

    -ms-overflow-style: none; /*IE and Edge scrollbar hide*/
    scrollbar-width: none; /*Firefox scrollbar hide*/
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

    .feed__header > h2 {
        font-size: 20px;
        font-weight: 800;
    }